body
{
	color: #383336;
	margin: 0;
	padding: 0;
}
nav{
	padding-top: 11%;
}
#neotown-image{
	margin-left: auto;
	margin-right: auto;
}
#section-1
{
	padding-top: 10%;
	height: 702px;
	max-height: 702px;
	width: 100%;
	background-image: url(/images/blue.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	/*border-bottom: 1px none #B22222; /*try "inset", ridge" or "groove"
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 30%;*/
}
ul
{
	list-style-type: none; 
	text-align: center;
	padding: 0;
}
ul li a
{
	text-decoration: none;
	color: #383336;
	font-size: 125%;
	padding: 10px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
ul li
{
	margin: 11px 8px;
	padding:  2px;
	display: inline-block;
}
/*.active
{
	color: #C73B40;
}*/
ul a:hover
{	
	color:#C73B40;
	text-decoration: none;
}
ul a:active{
	color: black;
	text-decoration: none;
}
#map-section{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
#gmap_canvas
{
	height: 350px;
	width: 100%;
	margin: 5px 0 0 0;
}
.find{
	margin-top: -15%;
	margin-left: -20px;
}
.find-us{
	padding-top: 40%;
	text-align: center;
	font-family: nevis;
	font-weight: bold;
	font-size: 50px;
}
#gallery-section
{
	background-color: #ebebeb;
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 70px;
	padding-bottom: 28px;
}
.gallery{
	/*background-color: #241;*/
	margin-top: -25px;
	padding-bottom: 50px;
	font-size: 50px;
	/*	letter-spacing: 70px;*/
}
.img-rounded{
	opacity: 0.8;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.img-rounded:hover{
	opacity: 1;
	transform: scale(1.2);
	box-shadow: 0 0 3px 2px #EBEBEB; /*text-info color -> #81DAF5*/
}

/*.maintainance{
	width: 100%;
	height: 150px;
	padding: 0px;
	background-color: #EBEBEB;
	/*border: 1px solid black;*/
/*	border-radius: 5px;
}*/
#shop-section{
	padding-bottom: 50px;
}
#sign-in-section{
	width: 100%;
	height: 720px;
}
.form-class{
	padding-top: 1%;
}
input[type=text]:focus{
	color: green;
}
.shops{
	text-align: center;
	border-radius: 7px;	
	height: 150px;
	padding-top: 15px;
	font-family: 'Trebuchet MS';
}
.shops:hover{
	/*transition: 0.5s;*/
	background: linear-gradient(to right, #EBEBEB, white, #EBEBEB);
}
.raddiman{
	text-decoration: none;
	color: #4B2264;
}
#novel-fresh{
	padding-top: 16px;
}
.bold{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}
.novel-fresh{
	
	letter-spacing: 3px;
	color: green;
}
#search{
	margin-top: 20px;
	width: 150px;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
#search:focus {
	width: 90%;
	color: #31708F;
}
.lookup{
	margin-top: 15px;
}
.teatime{
	color: #E99944;
}
.village img{
	margin-top: -9px;
	color: #456;
	text-decoration: none;
}
.ramakrishna-hospital{
	color: #593C1F;
	margin-top: 18px;
	letter-spacing: 1px;
}
.smondoville-phar{
	letter-spacing: 1px;
	color: #593C1F;
	/*text-shadow: 0 0 6px #48AF8F;*/
}
.smondoville-phar-image{
	margin-bottom: 17px;
}
.number{
	font-family: 'Trebuchet MS';
	letter-spacing: 1px;
}
.number-margin{
	margin-top: -30px;
}
.adarsh-cafe{
	letter-spacing: 3px;
	color: #593C1F;
}
footer{
	width: 100%;
	height: auto;
	background-color: #D3EDEC;
	/*background-image: url(images/blue.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}	
footer p{
	color: #777;
	font-family: cursive;
	text-align: center;
}
#footer-image{
	padding-top: -10px;
}
.heart{
	font-size: 95%;
	transition: 1s;
}
.heart:hover{
	color: #FF6600;
	letter-spacing: 2px;
}
hr{
	width: 150px;
}
#maintainance-and-helpline-section{
	/*	margin-bottom: 43px;*/
	padding: 10px 0 0px 0;
	text-align: center;
	/*border: 1px solid black;*/
}
.maintain{
	margin-top: -20px;
}
.maintainance-manager{
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 9px;
}
#maintainance-and-helpline-section .maintainance-first-row{
	margin-top: -15px;
	padding-bottom: 30px;
}
.maintain-style{
	border: 1px solid #ebebeb;
	transition: 1s;
}
.maintain-style:hover{
	border-color: #456;
}
#maintainance-section{
	padding-bottom: 30px;
}
#upward-nav{
	float: right;
	/*background: linear-gradient(black, black);*/
	background-color: #3f3f3f;
	color: #ebebeb;
	outline: none;
	height: 40px;
	width: 40px;
	position: fixed;
	left: 1%;
	bottom: 20px;
	transition: 0.8s;
	opacity: 0.5;
	z-index: 1;
}
#upward-nav:hover{
	box-shadow: 0px 0px 1px 1px #151515;
	background-color: #2a2a2a;
}
